# git ignore is case INsensitive on windows
# Shell glob rules with no partial matches, leading slash matches repo root
# Note that /*/ only matches a single directory but you can use subdir .gitignore files
build/
/_log/
/bin/
/source/ipch
/source/.vs
/source/VisualStudio*
/source/PredictedInputCache*
/source/*/VisualStudio*
# Android Studio:
/android/*/.gradle
/android/*/local.properties
/android/*/.idea/caches
/android/*/.idea/libraries
/android/*/.idea/misc.xml
/android/*/.idea/modules.xml
/android/*/.idea/workspace.xml
/android/*/captures
.externalNativeBuild
/android/*/gradlew*
/android/*/gradle/wrapper/
/android/*/app/src/main/assets/
