# git ignore is case INsensitive on windows
# Leading slash matches repo root
# Text is full word match, use * for partial word match
# Note that /*/ only matches a single directory
# We do not make use of subdir .gitignore files

# Output executables:
/bin

# Output build files and intermediate binaries:
/build*

# Install-specific files for development:
/source/Makefile
/data/_overwrite_baselines.flag

# Output test files:
/_log

# Visual Studio solution output (leaving .sln for inclusion):
/source/.vs/
/source/PredictedInputCache*

# Visual Studio project output (leaving .vcxproj and .ico for inclusion):
/source/*/VisualStudio*/*.user
/source/*/VisualStudio*/*.ico
/source/*/VisualStudio*/x64/
/source/*/VisualStudio*/Win32/

# Doxygen output:
/doc/apiref
/source/Doxyfile_log.txt
